main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.authForm ul, .authForm li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    background-color: var(--txtinput--bgcolor);
    color: var(--dark--txtcolor);
    font-size: 1.6rem;
    width: 80%;
    height: 5rem;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
}

input {
    border: 2px solid var(--txtinput--bordercolor);
    outline: none;
}

button {
    background-color: var(--button--color);
    color: var(--buttontxt--color);
    cursor: pointer;
    border: 0;
}

.sessionMenu {
    margin: 1rem 0;
}

.sessionMenu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

@media (min-width: 600px) {
    #formContainer {
        width: 40rem;
    }
}