/* Slider style */
.boxSliderBasic {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.slideImg img {
  max-width: 100%;
  width: auto;
  margin: auto;
  object-fit: contain;
}
.slideImg {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.slideDots {
  text-align: center;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.slideNumber {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* End for slider Style */

.boxTitle {
  background-color: var(--body--bgcolor);
  padding: 0.2rem;
}
.propTitle {
  font-weight: 300;
}
.propPrice {
  color: #820342;
}

.boxWhatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact Box */
.boxContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.boxContact h3 {
  align-self: flex-start;
}
.contactOption {
  font-size: 2rem;
}

/* WhatsApp Button */
.whatsAppContact {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  text-align: center;
}
.whatsAppButton {
  padding: 2rem;
  margin: 1rem 0;
  display: flex;
  max-height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #128c7e;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}
.whatsAppButton img {
  width: 4rem;
  padding: 1rem;
}

.boxDescription {
  padding: 1rem 0;
}

.boxSpecs {
  padding: 1rem 0;
}
.boxSpecs ul, boxSpecs li {
  padding: 0 2rem;
  margin: 0;
}

/* Contact Form */
.userContactForm {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.userContactForm ul {
  list-style-type: none;
}
.contactForm input {
  width: 20rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 1rem;
}
.contactForm input[type=submit] {
  background-color: var(--form--buttoncolor);
  border: none;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#googleMap {
  width:100%;
  height:400px;
}
.blockTest {
  width: 100%;
  height: 400px;
  background-color: yellow;
  display: none;
}

div#positionSlider {order: 1;}
div#positionTitle {order: 2;}
div#positionWhatsapp {order: 3;}
div#positionDescription {order: 4;}
div#positionSpecs {order: 5;}
div#positionContact {order: 6;}
div#positionMap {order: 7;}
div#blockTest {order: 8;}

/* STYLES FOR DESKTOP */
@media (min-width: 600px) {
  /* Hide whatsapp button on desktop*/
  .boxWhatsapp {
    display: none;
  }
  .blockTest {
    max-width: 50%;
  }

  /* Reorder boxes on desktop */
  div#positionSlider {order: 1;}
  div#positionContact {order: 2;}
  div#positionTitle {order: 3;}
  div#positionDescription {order: 4;}
  div#positionSpecs {order: 5;}
  div#positionMap {order: 6;}
  div#blockTest {order: 7;}
}