{% load static %}
<!-- Footer -->
<footer class="pb-2 pt-2">
    <div class="container">
      <div class="row text-center">
        <form class="ee-suggest">
          <h3>Buz&oacute;n de sugerencias</h3>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <textarea class="form-control ee-textarea-light" aria-label="Sugerencias" rows="1"></textarea>
            <button type="submit" class="btn btn-light my-1 ee-button-light">Enviar</button>
          </div>
        </form> 
        <div class="col">
          Desarrollo de <a href="#">candies.dev</a>
        </div>
      </div>
    </div>
</footer>
<!-- /Footer -->