{% load static %}
<header>

    {% block headerLogo %}
        {% include "./eexploraHeaderLogo.html" %}
    {% endblock %}

    <section class="navMenu">
        <nav>
            <ol class="navOl">
                <li>
                {% if loggedIn %}
                <button class="menuBtn" onclick="location.href='/usr/?action=logout&prev={{ prev }}'">
                Cerrar Sesión
                </button>
                {% else %}
                <button class="menuBtn" onclick="location.href='/usr/?action=login&prev={{ prev }}'">
                Iniciar Sesi&#xf3;n
                {% endif %}
                </button></li>
            </ol>
        </nav>
    </section>

</header>