{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if colorPalette == "paletteGrey" %}
    <link rel="stylesheet" href="{% static 'home/css/paletteGrey.css' %}" />
    {% elif colorPalette == "palettePink" %}
    <link rel="stylesheet" href="{% static 'home/css/palettePink.css' %}" />
    {% elif colorPalette == "paletteBlue" %}
    <link rel="stylesheet" href="{% static 'home/css/paletteBlue.css' %}" />
    {% else %}
    <link rel="stylesheet" href="{% static 'home/css/paletteDark.css' %}" />
    {% endif %}

    <link rel="stylesheet" href="{% static 'home/css/defaultbase.css' %}" />

    {% if activeApp %} <!-- Agregar el estilo según lo requerido por la App-->
    <link rel="stylesheet" href="{% static appStyle %}" />
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 

    <title>{% block title %}eExplora Comunidad Inmobiliaria{% endblock %}</title>

</head>