:root {
    --body--bgcolor: #f0f0f7;
    --header--bgcolor: #5050e6;
    --footer--bgcolor: #5050e6;
    --button--color: #5050e6;
    --border--color: #85848A;
    --important--txtcolor: #CC335C;
    --clear--txtcolor: #f0f0f7;
    --AAA--txtcolor: #1c1c1f;
    --AA--txtcolor: #6D6D73;
}