:root {
    --body--bgcolor: #F7F0F2;
    --header--bgcolor: #D45D79;
    --footer--bgcolor: #D45D79;
    --button--color: #D45D79;
    --border--color: #85848a;
    --important--txtcolor: #2E876E;
    --clear--txtcolor: #f7f0f2;
    --AAA--txtcolor: #1F1C1C;
    --AA--txtcolor: #736D6E;
}