<header>
  <div>
    {% block headerLogo %}
        {% include "home/eexploraHeaderLogo.html" %}
    {% endblock %}
  </div>
  <section class="navMenu">
      <nav>
      </nav>
  </section>
</header>

<main>
  {% if sessionTemplate == "userInfo" %}
  <section id="formContainer">
    <h3>Información del usuario</h3>
    <p><b>User ID:&nbsp;</b>{{ userId }}</p>
    <p><b>User Email:&nbsp;</b>{{ userEmail }}</p>
    <br>
  </section>
  <section  class="sessionMenu">
    <ul>
    {% for key, value in sessionMenu.items %}
      <li><a class="regularLink" href="{{ value }}" class="formLinks">{{ key }}</a></li>
    {% endfor %}
    </ul>
  </section>

{% elif sessionTemplate == "sessionIndex" %}
  <section  class="sessionMenu">
    <ul>
    {% for key, value in sessionMenu.items %}
      <li><a class="regularLink" href="{{ value }}" class="formLinks">{{ key }}</a></li>
    {% endfor %}
    </ul>
  </section>

{% elif sessionTemplate == "userLogin" or sessionTemplate == "userPass" %}
  <section id="formContainer">
    <h3>Autenticación</h3>
    <form class="authForm" action="/usr/" method="post">
      {% csrf_token %}       
      {{ sessionForm.as_ul }}
      <input type="hidden" name="action" value="{{ action }}">
      <input type="hidden" name="prev" value="{{ prev }}">
      <label for="submit"></label>
      <button type="submit" id="submit" name="submit">Autenticar</button>
    </form>
    <ul>
  </section>
  <section class="sessionMenu">
    {% if sessionTemplate == "userPass" %}
    <li><a class="regularLink" href="/usr?action=login&prev={{ prev }}" class="formLinks">Cambiar usuario</a></li>
    {% endif %}
    <li><a class="regularLink" href="{{ prev }}" class="formLinks">Cancelar</a></li>
    </ul>
  </section>

{% elif sessionTemplate == "userError" %}
  <section id="formContainer">
    <h3>Error de autenticación</h3>
    {% if alert == "user_error"%}
    <p>Usuario&nbsp;<b>{{ userId }}</b>&nbsp;inexistente</p>
    {% endif %}
    <a class="regularLink" href="/usr?action=login&prev={{ prev }}">Reintentar</a>
  </section>

{% elif sessionTemplate == "passwordError" %}
  <section id="formContainer">
    <h3>Error de autenticación</h3>
    {% if alert == "password_error"%}
    <p>Contraseña inválida</p>
    {% endif %}
    <a class="regularLink" href="/usr?action=login&prev={{ prev }}">Reintentar</a>
  </section>

{% else %}
  <section>
    <a class="regularLink" href="/home/">Salir de la aplicación</a>
  </section>

{% endif %}
</main>