{% load static %}
<div class="boxSliderBasic boxMain" id="positionSlider">
    <div class="slideImg slideEffect">
      <div class="slideNumber">1 / 4</div>
      <img src="{% static 'property/img/P001I001.jpg' %}">
    </div>
    <div class="slideImg slideEffect">
      <div class="slideNumber">2 / 4</div>
      <img src="{% static 'property/img/P001I002.jpg' %}">
    </div>
    <div class="slideImg slideEffect">
      <div class="slideNumber">3 / 4</div>
      <img src="{% static 'property/img/P001I003.jpg' %}">
    </div>
    <div class="slideImg slideEffect">
      <div class="slideNumber">4 / 4</div>
      <img src="{% static 'property/img/P001I004.jpg' %}">
    </div>
    <a class="prev" onclick="nextSlide(-1)">&#10094;</a>
    <a class="next" onclick="nextSlide(1)">&#10095;</a>
    <div class="slideDots">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
    </div>
  </div>
  
  <div class="boxTitle boxMain" id="positionTitle">
    <p><span class="propCode">Propiedad: {{ propCode }}</span>&nbsp;&nbsp;<span class="propPrice">Precio: $us {{ propPrice }}</span></p>
    <p class="propTitle">Terreno De 2 Hectáreas En Zona Urbana San Javier</p>
  </div>
  
  <div class="boxWhatsapp boxMain" id="positionWhatsapp">
    <section class="whatsAppContact">
      <button class="whatsAppButton">
        <img src="{% static 'property/img/whatsapp_logo_basic.png' %}"/>
        <p>(+591) 78078880</p>
      </button>
      <p>Agente eExplora</p>
    </section>
  </div>
  
  <div class="boxDescription boxMain" id="positionDescription">
    <h3 class="cardTitle">Descripción</h3>
    <p>Terreno en Venta en San Javier - Provincia Ñuflo de Chavez <br>
      Rústico <br>
      21380 m2 (102x209) <br>
      Zona Urbana del Municipio de San Javier <br>
      A 600 metros del pueblo <br>
      Al lado de la urbanización El Recreo</p>
  </div>

  <div class="boxSpecs boxMain" id="positionSpecs">
    <h3 class="cardTitle">Características</h3>
    <ul>
      <li>Zona tranquila al borde de la zona urbana</li>
      <li>Rodeado de naturaleza</li>
      <li>Pozo de agua perforado</li>
      <li>Hospital, Iglesia y Colegio cercanos</li>
      <li>Carretera a Santa Cruz totalmente pavimentada</li>
    </ul>
  </div>
  
  <div class="boxContact boxMain" id="positionContact">
    <h3 class="cardTitle"></h3>
    <section class="whatsAppContact">
      <p class="contactOption">Contacto por WhatsApp</p>
      <button class="whatsAppButton">
        <img src="{% static 'property/img/whatsapp_logo_basic.png' %}"/>
        <p>(+591) 78078880</p>
      </button>
      <p>Agente eExplora</p>
    </section>
    <section class="userContactForm">
      <p class="contactOption">O comparte tus datos</p>
      <ul>
        <form class="contactForm" action="#" method="post">
          {% csrf_token %}
          {{ userInfoForm.as_ul }}
          <input type="submit" value="Enviar">
        </form>
      </ul>
    </section>
  </div>

  <div class="boxMap boxMain" id="positionMap">
    <h3 class="cardTitle">Ubicación</h3>
    <div id="googleMap"></div>
  </div>
  <div class="blockTest" id="blockTest">blockTest</div>