{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/eExploraBase.css' %}" />
    <link rel="stylesheet" href="{% static 'property/css/propertyStyles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap" rel="stylesheet">
    <title>{% block title %}eExplora Negos Inmobiliarios{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="logo">{% block siteLogo %}<p>eExplora.com</p>{% endblock %}</div>
      <section class="navMenu">
        <nav>
          {% block navMenu %}
          {{ navMenu|safe }}
          {% endblock %}
        </nav>
      </section>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    <footer>
    </footer>
    <script src="{% static 'property/js/propertyScript.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
  </body>
</html>