{% extends "home/eexploraBase.html" %}

{% block head %}
    {% include "home/eexploraHeadBS.html" %}
{% endblock %}

{% block header %}
    {% include "home/eexploraHeaderBS.html" %}
{% endblock %}

{% block main %}
    {% if propertyId == "none" %}
        {% include "./landinghomeBS.html" %}
    {% else %}
        {% include "./landingcontentBS.html" %}
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "home/eexploraFooterBS.html" %}
{% endblock %}

{% block scripts %}
    {% include "./landingscriptsBS.html" %}
{% endblock %}