<main>
    {% include boxTemplate %}
    <div class="ldnFeatures" id="ldnFeatures">
        <h2>Características</h2>
        <ul>
            <li class="ldnFeature">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li class="ldnFeature">Suspendisse consequat, leo a rutrum scelerisque, nisl turpis posuere dui, eu ultricies magna mauris in nunc.</li>
            <li class="ldnFeature">Morbi non tincidunt nibh. Aliquam in est vehicula, facilisis libero sed, pulvinar ligula.</li>
            <li class="ldnFeature">Ut arcu nisl, bibendum auctor condimentum ac, auctor at purus.</li>
        </ul>
    </div>
</main>